* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  height: auto;
}
/* ====== VARIABLES ============================ */
:root {
  --header-height: 4.5rem;
  --hue: 200;
  /* HSL color mode */
  --base-color: hsl(var(--hue) 36% 57%);
  --base-color-second: hsl(var(--hue) 65% 88%);
  --base-color-alt: hsl(var(--hue) 57% 53%);
  --title-color: hsl(var(--hue) 41% 10%);
  --text-color: hsl(0 0% 46%);
  --text-color-light: hsl(0 0% 98%);
  --body-color: hsl(0 0% 98%);
}
/* ======= BASE =============================== */
body {
  font: 400 1rem "DM Sans", sans-serif;
  color: var(--text-color);
  background: var(--bady-color);
  -webkit-font-smoothing: antialiased;
}
h1 {
  font: 700 1.875rem "Poppins", sans-serif;
  color: var(--title-color);
  -webkit-font-smoothing: auto;
}
.button {
  background-color: var(--base-color);
  color: var(--text-color-light);
  height: 3.5rem;
  display: inline-flex;
  align-items: center;
  padding: 0 2rem;
  border-radius: 0.25rem;
  font: 500 1rem "DM Sans", sans-serif;
  transition: all 0.3s;
}
.button:hover {
  background: var(--base-color-alt);
}
.divider-1 {
  height: 1px;
  background: linear-gradient(
    270deg,
    hsla(var(--hue), 36%, 57%, 1) 0%,
    hsla(var(--hue), 65%, 88%, 0.34) 100%
  );
}
/* ======= LAYOUT ============================ */
#header {
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 2rem;
  display: flex;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
  background: var(--body-color);
}
nav {
  height: 4.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font: 700 1.31rem "Poppins", sans-serif;
  color: var(--title-color);
}
.logo span {
  color: var(--base-color);
}
.container {
  width: 100%;
  margin: 0 1.5rem;
}
.grid {
  display: grid;
  gap: 2rem;
}

section {
  padding: 3rem 0;
}
/* ====== HOME ============================= */
#home .container {
  margin: 0;
}
#home img {
  position: relative;
  width: 90%;
  right: 0.55rem;
  box-shadow: 3.4rem -2.5rem var(--base-color-second);
  border-radius: 0.25rem;
}
#home .text {
  margin: 0 1.5rem;
  text-align: center;
}
#home .text h1 {
  margin-bottom: 1rem;
}
#home .text p {
  margin-bottom: 2rem;
}
